services:
    db:
        image: postgres:16-alpine
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: foodhubdb
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data/

    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        environment:
            DATABASE_URL: "postgresql://user:password@db:5432/foodhubdb?schema=public"
            PORT: 4000
        ports:
            - "4000:4000"
        volumes:
            - ./backend:/app
            - ./shared:/app/shared
            - /app/node_modules
        depends_on:
            - db

volumes:
    postgres_data:
