services:
    db:
        image: postgres:16-alpine
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: foodhubdb
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data/

    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        env_file:
            - ./backend/.env
        ports:
            - "4000:4000"
        volumes:
            - ./backend:/app
            - ./shared:/app/shared
            - /app/node_modules
            - /app/src/generated
        depends_on:
            - db

volumes:
    postgres_data:
