services:
    db:
        image: postgres:16-alpine
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: foodhubdb
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data/

    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        env_file:
            - ./backend/.env
        ports:
            - "4000:4000"
        volumes:
            - ./backend:/app
            - ./shared:/app/shared
            - /app/node_modules
            - /app/src/generated
        depends_on:
            - db

    # admin-dashboard:
    #     build:
    #         context: .
    #         dockerfile: admin-dashboard/Dockerfile
    #     ports:
    #         - "3000:3000"
    #     volumes:
    #         - ./admin-dashboard:/app
    #         - ./shared:/app/shared
    #         - /app/node_modules
    #     environment:
    #         CHOKIDAR_USEPOLLING: "true"
    #         # API URL remains localhost because the request originates from the browser on your host machine
    #         VITE_API_URL: "http://localhost:4000"
    #     stdin_open: true
    #     tty: true

    app:
        build:
            context: .
            dockerfile: app/Dockerfile
        ports:
            - "3000:3000"
        volumes:
            - ./app:/app
            - ./shared:/app/shared
            - /app/node_modules
        environment:
            CHOKIDAR_USEPOLLING: "true"
        stdin_open: true
        tty: true

volumes:
    postgres_data:
